.headline-board {
    position: absolute;
    display: flex;
    align-items: center;
    left: 328px;
    top: 206px;
    gap: 30px;
    width: 1056px;
    height: 73px;
    justify-content: space-between;
}

.black {
    color: #000000;
    margin: 0;
}

.add-task-button {
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    border: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 4px;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
}

.board-input {
    border: 1px;
    border-radius: 10px;
    width: 312px;
    height: 48px;
    gap: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.find-task {
    font-weight: 400;
    font-size: 20px;
    color: #D1D1D1;
}

.input-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.input-wrapper-board {
    display: flex;
    align-items: center;
    width: 312px;
    height: 48px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
    background-color: transparent;
  }

.search-input::placeholder {
    color: #D1D1D1;
    font-weight: 400;
}

.input-divider {
    width: 1px;
    height: 60%;
    background-color: #D1D1D1;
    margin: 0 12px;
}