.contact-page main {
    display: flex;
    flex-direction: row;
}
.contact-detail-section {
    flex-shrink: 1;
    background-color: var(--bg-page);
}

.contact-list-sidebar {
    background-color: white;
    width: 100%;
    max-width: 456px;
    padding: 0 24px 32px 24px;
    flex-shrink: 1.5;
    max-height: var(--height-full-ex-header);
    overflow: auto;
}
.contact-list-sidebar-inner {
    position: relative;
}
.contact-list-sidebar .sticky-button-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    padding-block: 22px;
}
button.add-contact {
    justify-content: center;
    gap: 16px;
}
button.add-contact img {
    height: 21px;
    width: auto;
    object-fit: contain;
}
.floating-button.add-contact {
    display: none;
}
.contact-list-sidebar ul {
    padding-inline: 0;
    margin-block: 0;
}
.contact-list-sidebar .contact-letter {
    padding: 36px 17px 36px 25px ;
    font-size: var(--fs-lg);
    font-weight: var(--fw-regular);
    border-bottom: solid 1px var(--clr-subtle);
    margin-bottom: 8px;
    height: 66px;
}
.contact-item {
    border-radius: 10px;
    min-height: 87px;
    gap: 35px;
}
.contact-item:where(.active, :hover, :focus) {
    background-color: var(--clr-main);
    color: white;
}
.contact-item .contact-details {
    gap: 5px;
}
.contact-item .name {
    font-size: var(--fs-lg);
}
.contact-item .email {
    color: var(--clr-light-blue);
}
.contact-item {
    padding: 15px 24px;
    gap: 35px;
    cursor: pointer;
}


.floating-contact {
    display: flex;
    gap: 54px;
    align-items: center;
}
.floating-contact .profile-title {
    gap: 8px;
}
.floating-contact .profile-title h3 {
    font-size: var(--fs-xl);
    font-weight: 500;
}
.floating-contact .edit-buttons {
    gap: 24px;
}
.floating-contact .edit-buttons button {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;
}
.floating-contact .edit-buttons button img {
    height: 18px;
    width: auto;
    object-fit: contain;
}
.contact-info {
    margin-top: 21px;
    gap: 22px;
}
.contact-info h3 {
    height: 74px;
    justify-content: center;
}
.contact-property {
    gap: 15px;
}
#btnCloseContactDetails {
    display: none;
    position: absolute;
    top: 58px;
    right: 20px;
    width: 32px;
    height: 32px;
    z-index: 1;
}
#btnCloseContactDetails img {
    height: 24px;
    width: auto;
    object-fit: contain;
}



.dialogue {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}

.dialogue-inner {
    background-color: white;
    border-radius: 30px;
    min-height: 594px;
    width: 100%;
    max-width: 1212px;
    overflow: hidden;
    align-items: stretch;
}

.dialogue-inner > div {
    padding: 66px 48px;
    justify-content: center;
}

.dialogue-sidebar {
    background-color: var(--clr-main);
    color: white;
    font-size: var(--fs-xl);
    justify-content: center;
    gap: 12px;
    align-items: start;
    width: 100%;
    max-width: 467px;
    flex-grow: 1;
}

.dialogue-main {
    flex-grow: 1;
}

button.close-dialogue {
    position: absolute;
    top: 40px;
    right: 54px;
    width: 32px;
    height: 32px;
    z-index: 2000;
}
button.close-dialogue .light {
    display: none;
}

.dialogue .field-groups {
    gap: 72px;
}

.dialogue .field-group {
    --field-width: 422px;
    min-width: var(--field-width);
    max-width: var(--field-width);
    gap: 19px;
}

.dialogue .batch-wrapper {
    margin-top: -117px;
}

.dialogue .submit-input-icon-wrapper {
    margin-top: 18px;
}





@media(max-width: 1345px) {
    .page-title-wrapper {
        flex-direction: column;
        align-items: start;
    }
    .title-deco-divider {
        order: 99;
        width: 90px;
        height: 3px;
    }
}
@media(max-width: 1259px) {
    .contact-list-sidebar {
        flex-shrink: 1;
    }
}
@media(max-width: 1179px) {
    .contact-list-sidebar {
        max-width: 100%;
    }
    main:not(.show-contact-detail) .contact-detail-section {
        display: none;
    }
    main:not(.show-contact-detail) .floating-button.add-contact {
        display: unset;
    }
    main.show-contact-detail .contact-detail-section {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }
    #btnCloseContactDetails {
        display: unset;
    }    
    .sticky-button-wrapper {
        display: none;
    }
    .dialogue-inner {
        flex-direction: column;
        min-height: unset;
        max-width: 745px;
        overflow: auto;
    }
    .dialogue-sidebar {
        max-width: unset;
    }
    .dialogue-main {
        /* align-items: start; */
    }
    button.close-dialogue .dark {
        display: none;
    }
    button.close-dialogue .light {
        display: unset;
    }
}
@media(max-width: 719px) {
    .dialogue {
        padding: 0;
    }
    .dialogue-inner {
        max-width: unset;
        max-height: unset;
        height: 100%;
        border-radius: 0;
    }
    .dialogue-inner > div {
        /* padding: 0; */
    }
    .dialogue-main .field-groups {
        flex-wrap: wrap;
    }
    .dialogue-main .batch-wrapper {
        margin-top: unset;
    }
    .dialogue .field-group {
        max-width: 100%;
    }
    
}

