.contact-page main {
    display: flex;
    flex-direction: row;
}
.contact-detail-section {
    flex-shrink: 1;
}

.contact-list-sidebar {
    background-color: white;
    width: 100%;
    max-width: 456px;
    padding: 32px 24px;
    flex-shrink: 1.1;
    height: var(--height-full-ex-header);
    overflow: auto;
}
.contact-list-inner {
    padding-block: 32px;
}
.contact-list-sidebar button.add-contact {
    width: 100%;
    justify-content: center;
    gap: 16px;
}
.contact-list-sidebar button.add-contact img {
    height: 21px;
    width: auto;
    object-fit: contain;
}
.contact-list-sidebar ul {
    padding-inline: 0;
    margin-block: 0;
}
.contact-list-sidebar .contact-letter {
    padding: 36px 17px 36px 25px ;
    font-size: var(--fs-lg);
    font-weight: var(--fw-regular);
    border-bottom: solid 1px var(--clr-subtle);
    margin-bottom: 8px;
    height: 66px;
}
.contact-item {
    border-radius: 10px;
    min-height: 87px;
    gap: 35px;
}
.contact-item:where(.active, :hover, :focus) {
    background-color: var(--clr-main);
    color: white;
}
.contact-item .contact-details {
    gap: 5px;
}
.contact-item .name {
    font-size: var(--fs-lg);
}
.contact-item .email {
    color: var(--clr-light-blue);
}
.contact-item {
    padding: 15px 24px;
    gap: 35px;
    cursor: pointer;
}


.contact-detail-section {

}

.floating-contact {
    display: flex;
    gap: 54px;
    align-items: center;
}
.floating-contact .profile-title {
    gap: 8px;
}
.floating-contact .profile-title h3 {
    font-size: var(--fs-xl);
    font-weight: 500;
}
.floating-contact .edit-buttons {
    gap: 24px;
}
.floating-contact .edit-buttons button {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;
}
.floating-contact .edit-buttons button img {
    height: 18px;
    width: auto;
    object-fit: contain;
}
.contact-info {
    margin-top: 21px;
    gap: 22px;
}
.contact-info h3 {
    height: 74px;
    justify-content: center;
}
.contact-property {
    gap: 15px;
}



@media(max-width: 1180px) {
    .contact-page main .contact-detail-section {
        display: none;
        flex-direction: column;
    }
    .contact-list-sidebar {
        max-width: 100%;
    }
}
