.logo_login {
    width: 100.03px;
    height: 121.97px;
    position: absolute;
    top: 80px;
    left: 77px;
}

.gap_16px {
    gap: 16px;
}

.btn-third {
    color: rgba(42, 54, 71, 1);
    background-color: white;
    border-color: rgba(42, 54, 71, 1);
    border: 1px;
    gap: 10px;
}

.btn-third:hover {
    color: var(--clr-light-blue);
    border-color: var(--clr-light-blue);
    border-width: 2px;
}

.btn-login-size {
    border: solid 1px var(--clr-main);
    border-color: rgba(42, 54, 71, 1);
    border-radius: 8px;
    padding: 15px 24px;
    gap: 10px;
    min-height: 56px;
    font-size: 21px;
    font-weight: var(--fw-bold);
}

.bg-grey {
    background-color: #F6F7F8
}

.bg-white {
    background-color: white
}

.login-div-size {
    width: 652px;
    height: 449px;
    padding: 48px 115px 48px 115px;
    justify-content: space-around;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.login-email-part {
    width: 422px;
    height: 152px;
    padding: 0px;
}

.login-privacy-policy {
    width: 246px;
    height: 35px;
}

.gap-35 {
    gap: 35px;
}

.login_border {
    width: 150px;
    height: 3px;
    border: 3px solid #29ABE2;
    transform: rotate(0deg);
}

.headline_login {
    width: 315px;
    height: 89px;
}

.login_title {
    font-size: 61px;
    font-weight: var(--fw-bold);
}

.header_login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;
}

.btn-login-header-size {
    width: 91px;
    height: 49px;
    color: white;
    font-size: 16px;
    font-weight: var(--fw-bold);
    border-radius: 8px;
    padding: 15px 16px;
    font-weight: 700;   
}

.btn-login-header-size:hover {
    color: var(--clr-light-blue);
    border-color: var(--clr-light-blue);
    border-width: 2px;
}

.not_a_join_user-login-header{
    font-weight: 400;
}

.pos-absol-header-login{
    display: flex;
    flex-direction: row;
    gap: 35px;
    position: absolute;
    right: 16px;
    top: 15px;
}

