.arrow_left_icon {
    height: 32px;
    width: 32px;
}

.arrow_left_icon_position {
    position: absolute;
    left: 48px;
    top: 64px;
    z-index: 3;
}

.sign-up-div-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 88px;
    gap: 32px;
    isolation: isolate;
    position: absolute;
    width: 598px;
    height: 630px;
    left: calc(50% - 598px/2);
    top: calc(50% - 630px/2);
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.custom-checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #2A3647;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.custom-checkbox:checked::after {
    content: "✔";
    color: black;
    position: absolute;
    top: 0px;
    left: 4px;
    font-size: 18px;
    line-height: 24px;
}

.login-email-part-sign-up {
    width: 422px;
    height: 326px;
    padding: 0px;
}

.margin-bottom-24px {
    margin-bottom: 24px;
}

.div-i-accept {
    width: 90px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
    white-space: nowrap;
    margin: 0;
}

.gap-10px {
    gap: 10px;
}

.a-privacy-policy {
    width: 105px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #29ABE2;
}

.checkbox-wrapper {
    width: 231px;
    height: 24px;
}

.overlay-sign-up-successfully {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 0px 25px;
    position: relative;
    width: 312px;
    height: 74px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: #FFFFFF;
}

.overlay-sign-up-successfully-div {
    width: 262px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    white-space: nowrap;
}

.overlay-sign-up-successfully-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.2);
    z-index: 2;
}

.input-error {
    border: 1px solid red;
}
  