@import url("assets/fonts/inter/inter.css");
@import url("styles/standard.css");
@import url("styles/standard-ucl.css");
@import url("styles/assets.css");
@import url("styles/assets-forms.css");


:root {
    --bg-page: #f6f7f8;
    --clr-main: #2A3647;
    --clr-dark: #091931;
    --clr-light-blue: #29ABE2;
    --clr-link-blue: #007CEE;
    --clr-disabled: #CDCDCD;
    --clr-subtle: #D1D1D1;
    --clr-focus: var(--clr-light-blue);
    --box-shadow-focus: 0 0 0 1px var(--clr-focus);
    --box-shadow-focus-strong: 0 0 0 2px var(--clr-focus);
    --clr-prio-high: #FF3D00;
    --clr-prio-medium: #FFA800;
    --clr-prio-low: #7AE229;

    --clr-warning: #FF8190;

    --ff-primary: "Inter", sans-serif;
    --fs-sm: 12px;
    --fs-base: 16px;
    --fs-lg: 20px;
    --fs-xl: 27px;
    --fs-xxl: 47px;
    --fs-main-title: 61px;
    --lh-base: 1.2;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --ct-w: 1080px;
    --px-sec: 4vw;
    --py-sec: var(--sp-40);
    --p-card: 16px;

    --sp-05: 12px;
    --sp-10: 24px;
    --sp-20: 32px;
    --sp-30: 40px;
    --sp-40: 48px;
    --sp-50: 64px;
    --sp-60: 80px;
    --sp-70: 96px;
    --sp-80: 120px;
    --sp-90: 150px;
    --gap: var(--sp-10);

    --sidebar-width: 232px;
    --transition-duration: 125ms;
    --height-header: 96px;
    --height-footer: 0px; /* fixed bottom menu, mobile only */
    /* --height-full-ex-header: calc(100vh - var(--height-header));
    --height-between-header-footer: calc(100vh - (var(--height-header) + var(--height-footer))); */
}


@keyframes slide-in-right{
  from{margin-right:-100%} to{margin-right:0;}
}

@keyframes slide-out-right{
  from{margin-right:0} to{margin-right:-100%;}
}


html {
    background-color: var(--bg-page);
}
body {
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--clr-main);
}
header {
    /* position: fixed; */
    /* top: 0; */
    justify-content: center;
    height: var(--height-header);
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    z-index: 900;
}
footer {
    margin-top: auto !important;
}


.header-title{
    font-size: 20px;
    font-weight: 400;
    margin-left: 0px;
    color: black;
    z-index: 1;
}

main {
    overflow: hidden;
    flex-grow: 1;
    margin-bottom: var(--height-footer);
}
main, header, footer {
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width)) !important;
}
.main-inner-absolute {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: var(--ct-w);
}
.main-inner-absolute.scrollable {
    overflow-y: auto;
    scrollbar-width: none;
}
:where(.main-inner-absolute):not(.inset) {
    top: 110px;
    bottom: var(--py-sec);
    inset-inline: var(--px-sec);
}
.ct-container {
    margin-left: 0;
}

.sidebar {
    position: fixed;
    background-color: var(--clr-main);
    color: white;
}
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 32px;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    padding-block: 64px;
    --sidebar-pad-left: 52px;
    --sidebar-pad-right: 32px;
}
#sidebarMob {
    display: flex;
    /* display: none; */
    width: 100%;
    height: var(--height-footer);
    justify-content: space-between;
    padding: 8px var(--px-sec);
    font-size: 14px;
    left: 0;
    right: 0;
    bottom: 0;
}
.sidebar-logo {
    margin-left: var(--sidebar-pad-left);
}
.sidebar a {
    color: var(--clr-disabled);
    text-decoration: none;
}
.sidebar-main-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sidebar-main-links a {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 46px;
    padding-left: var(--sidebar-pad-left);
    padding-right: var(--sidebar-pad-right);
}
.sidebar-main-links a:hover {
    background-color: #2A3D59;
}
.sidebar-main-links a:has( .active-page) {
    background-color: #091931;
    color: white;
}
.sidebar-footer-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: var(--sidebar-pad-left);
    padding-right: var(--sidebar-pad-right);
}
.sidebar-footer-links a:hover {
    color: var(--clr-light-blue);
}
/* TEMP */
.temp-links {
    gap: 5px;
}
.temp-links a {
    color: #ccc;
    font-size: 14px;
}
.temp-links a:hover {
    color: white;
}

/* TERMS PAGES */
.terms-page .page-title-wrapper {
    margin-bottom: 32px;
}
.terms-page h2:not(.skip-top-margin) {
    margin-top: 24px;
}
.terms-page p {
    margin-top: 0;
}


.orientation-overlay {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    inset: 0;
    z-index: 99999;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    padding-inline: var(--px-sec);
}






/*** BREAKPOINTS */

@media(max-width: 1179px) {
    :where(.main-inner-absolute):not(.inset) {
        top: 48px;
        bottom: 24px;
    }
    .page-title-wrapper {
        margin-bottom: 32px;
    }
}

@media(max-width: 735px) {
    :root {
        --px-sec: 16px;
        --height-footer: 80px;
        --fs-main-title: 47px;
        --fs-xxl: 27px;
        --fs-xl: 20px;
    }
    /* main {
        position: fixed;
        overflow: auto;
    } */
    main, header, footer {
        margin-left: unset;
        width: 100% !important;
    }
    #sidebarMob {
        display: flex;
    }
}
@media(max-width: 374px) {
}
@media(min-width: 1440px) {
    :root {
        --px-sec: 100px;
    }
}

@media(max-width: 1023px) and (max-height: 639px) and (orientation: landscape) {
    .orientation-overlay {
        display: flex;
    }
}
