@import url("assets/fonts/inter/inter.css");
@import url("styles/standard.css");
@import url("styles/standard-ucl.css");
@import url("styles/assets.css");


:root {
    --bg-page: #f6f7f8;
    --clr-focus: var(--clr-light-blue);
    --clr-main: #2A3647;
    --clr-dark: #091931;
    --clr-light-blue: #29ABE2;
    --clr-disabled: #CDCDCD;
    --clr-subtle: #D1D1D1;

    --clr-prio-high: #FF3D00;
    --clr-prio-medium: #FFA800;
    --clr-prio-low: #7AE229;

    --clr-warning: #FF8190;

    --ff-primary: "Inter", sans-serif;
    --fs-base: 16px;
    --lh-base: 1.2;
    --fw-regular: 400;
    --fw-bold: 700;

    --ct-w: 1080px;
    --px-sec: 4vw;
    --py-sec: var(--sp-40);
    --p-card: 16px;

    --sp-05: 12px;
    --sp-10: 24px;
    --sp-20: 32px;
    --sp-30: 40px;
    --sp-40: 48px;
    --sp-50: 64px;
    --sp-60: 80px;
    --sp-70: 96px;
    --sp-80: 120px;
    --sp-90: 150px;
    --gap: var(--sp-10);

    --sidemenu-width: 232px;
}

html {
    background-color: var(--bg-page);
}
body {
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--clr-main);
}
header {
    position: fixed;
    top: 0;
    justify-content: center;
    height: 96px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.header-title{
    font-size: 20px;
    font-weight: 400;
    margin-left: 360px;
    color: black;
    z-index: 1;
}

main {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
main, header, footer {
    margin-left: var(--sidemenu-width);
    width: calc(100% - var(--sidemenu-width)) !important;
}
#sideMenu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidemenu-width);
    padding: 64px 32px 64px 52px;
}
#sideMenuMob {
    display: none;
    justify-content: space-between;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 8px var(--px-sec);
    height: 80px;
}
.side-menu {
    position: fixed;
    background-color: var(--clr-main);
    color: white;
}
.side-menu a {
    color: white;
}

.sidebar-logo{
    margin: 64px 0 120px 0;
}

.sidebar-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    gap: 20px;
}

.sidebar-footer{
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 317px;
    width: 100%;
    margin-bottom: 20px;
}

.nav-button{
    color: #cdcdcd;
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    gap: 8px;
    cursor: pointer;
}

@media(max-width: 719px) {
    :root {
        --px-sec: 16px;
    }
    main {
        position: fixed;
        top: 0;
        bottom: 80px;
        left: 0;
        right: 0;
        overflow: auto;
    }
    main, header, footer {
        margin-left: unset;
        width: 100% !important;
    }
    #sideMenuMob {
        display: flex;
    }
    
}
@media(min-width: 1440px) {
    :root {
        --px-sec: 64px;
    }
}
