/* FORM / FIELD GROUP/WRAPPER */

form {
    display: flex;
    flex-direction: column;
    margin-block-end: 0;
}
form.scrollable {
    position: absolute;
    inset: 0;
}
form.scrollable .field-groups {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.field-groups {
    column-gap: 44px;
    row-gap: 20px;
}
.field-group {
    width: var(--ct-w);
    max-width: var(--field-width);
    padding-left: 1px;
    padding-right: 1px;
    gap: 16px;
}
.field-group-divider {
    border-left: solid 1px var(--clr-subtle);
}
.field-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: nowrap;
}
.field-wrapper {
    padding-bottom: 16px;
}



/* INPUTS / LABEL */

label {
    font-size: 20px;
    margin-bottom: 8px;
}
label.required::after,
.required-info::before {
    content: "*";
    color: var(--clr-warning);
}
input:not([type="checkbox"], [type="radio"]):not(.subtask-input[read-only]):not(.login-signup-input),
textarea, select {
    padding: 12px 21px;
    border-radius: 10px;
    border: solid 1px var(--clr-subtle);
    font-family: var(--ff-primary);
    font-size: 20px;
    min-height: 48px;
    width: 100%;
    min-width: 0;
    background-color: white;
}
textarea {
    resize: vertical;
    min-height: 120px;
}
.btn-radio {
    color: var(--clr-main);
    background-color: white;
    border: solid 1px var(--clr-subtle);
    cursor: pointer;
    justify-content: center;
    padding-block: 16px;
    padding-inline: 10px;
    flex-grow: 1;
    flex-basis: 136px;
    /* min-width: 136px; */
    max-width: unset;
}
.hide-child-input {
    position: relative;
}
.hide-child-input input {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0; 
}
.invalid input {
    border-color: var(--clr-warning) !important;
}
.validation-alert {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    height: 12px;
    font-size: 12px;
    color: var(--clr-warning);
}
.invalid .validation-alert,
.validation-alert.fail-alert:not(.hide) {
    visibility: visible;
}
.required-info {
    position: relative;
    margin-left: 16px;
}
.required-info::before {
    position: absolute;
    top: -0.175em;
    left: -12px;
    font-size: 20px;
}
.select-text, ::placeholder, [data-placeholder-style="true"] {
    color: var(--clr-subtle);
    font-size: 20px;
}
/* ::placeholder,
[data-placeholder-style="true"] {
    color: var(--clr-subtle);
} */
.input-wrapper {
    z-index: 1;
}


/* PRIORITY RADIO BUTTONS */
.priority-input-wrapper  {
    gap: 16px;
}
.priority-input-wrapper .icon-wrapper {
    display: flex;
}
label.prio-high {
    --icon-color: var(--clr-prio-high);
}
label.prio-medium {
    --icon-color: var(--clr-prio-medium);
}
label.prio-low {
    --icon-color: var(--clr-prio-low);
}
label.prio-high:hover,
label.prio-high:has( > input:checked) {
    background-color: var(--clr-prio-high);
}
label.prio-medium:hover,
label.prio-medium:has( > input:checked) {
    background-color: var(--clr-prio-medium);
}
label.prio-low:hover,
label.prio-low:has( > input:checked) {
    background-color: var(--clr-prio-low);
}
.priority-input-wrapper label:hover,
.priority-input-wrapper label:has( input:checked) {
    color: white;
    --icon-color: white;
    border: none;
    font-weight: var(--fw-bold);
}


/* CUSTOM SELECT */
.select.custom-select {
    position: relative;
    width: 100%;
}
.select.custom-select .select-options-wrapper {
    list-style: none;
    padding-top: 10px;
    padding-inline: 0;
    margin-block: -8px;
    margin-bottom: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    /* position: absolute; */
    animation-name: fadeinUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    scrollbar-color: #eee white;
}
.select-options-wrapper.multiple li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}
.select-option label,
.select-options-wrapper:not(.multiple) .select-option {
    font-size: var(--fs-lg);
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    height: 48px;
    padding-inline: 16px;
    margin-bottom: 1px;
    cursor: pointer;
    transition: 0.3s;
    overflow-wrap: anywhere;
    border-radius: 10px;
}
.select-options-wrapper.multiple label {
    height: 56px;
}
.select-options-wrapper.multiple.right label {
    padding-right: 54px;
}
.select.custom-select .label-icon {
    order: -1;
}
.select.custom-select label:hover,
.select.custom-select label:focus,
.select.custom-select label:has( input:focus, input:checked),
.select-option:hover,
.select-option:focus,
.select-option[aria-selected="true"] {
    background-color: var(--clr-subtle);
    background-color: #eee;
}
.select.custom-select.multiple label:has( input:checked) {
    background-color: var(--clr-main);
    color: white;
}
.select.custom-select.multiple label:hover:has( input:checked) {
    background-color: var(--clr-dark);
}
.field-wrapper:not(.select-expanded) .select-options-wrapper {
    display: none;
}
.field-wrapper.select-expanded .input-icon-wrapper.custom-select img {
    rotate: 180deg;
}
input[disabled] + .input-icon-wrapper.custom-select {
    display: none;
}


/** CUSTOM INPUT BUTTONS (VARIOUS) */
.input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-grow: 1;
    padding-block: 5px;
}
.input-wrapper.left {
    justify-content: start;
}
.custom-checkbox-wrapper.left label {
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-bottom: 0;
    font-size: var(--fs-base);
}
.input-wrapper label a {
    color: var(--clr-light-blue);
    text-decoration: none;
}
.input-wrapper label a:hover {
    text-decoration: underline;
}
.input-icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    gap: 4px;
    height: 24px;
    margin-left: 12px;
}
.input-icon-wrapper.simple,
.input-wrapper .input-icon-wrapper,
.input-icon-wrapper:where(.custom-checkbox-wrapper) {
    position: absolute;
    right: 16px;
}
.input-icon-wrapper button {
    border-radius: 100%;
}
.input-icon-wrapper.simple,
.input-icon-wrapper.custom-select,
.input-icon-wrapper :where(button, .xcheckbox-checked-wrapper) {
    width: 24px;
    height: 24px;
}
.input-icon-wrapper :where(button, .xcheckbox-checked-wrapper) {
    display: flex;
    justify-content: center;
    align-items: center;
}
input:has(+ .input-icon-wrapper) {
    padding-right: 56px !important;
}
.input-icon-wrapper :is(img, .icon) {
    height: 100%;
    width: auto;
    object-fit: contain;
}
input.custom-checkbox  {
    position: absolute;
    appearance: none;
    box-sizing: content-box;
    border: solid 2px var(--clr-main);
    border-radius: 3px;
    width: 14px;
    height: 14px;
    transition-duration: var(--transition-duration);
}
.multiple.select-contacts input.custom-checkbox  {
    width: 13px;
    height: 13px;
}
input.checkbox-end,
input.checkbox-end + .custom-checkbox-checked  {
    right: 2px;
}
.custom-checkbox-checked {
    position: absolute;
}
.custom-checkbox-checked,
.radio-select-option {
    display: none;
    pointer-events: none;
}
input.custom-checkbox:checked {
    /* visibility: hidden; */
    opacity: 0;
}
input:checked + .custom-checkbox-checked {
    display: flex;
}
.input.custom-checkbox:focus {
    box-shadow: none;
}
.input-icon-wrapper button {
    padding-left: 1px;
}
.input-icon-wrapper :is(.icon-size-default .icon-24) {
    height: 24px;
}
.input-icon-wrapper :is(.icon-22, .icon-phone-input) {
    height: 22px;
}
.input-icon-wrapper :is(.icon-20, .icon-email-input) {
    height: 20px;
}
.input-icon-wrapper :is(.icon-18, .custom-checkbox-checked, .icon-edit, .icon-delete, .icon-checkbox, .icon-search) {
    height: 18px;
}
.input-icon-wrapper :is(.icon-14, .icon-add) {
    height: 14px;
}
.input-icon-wrapper :is(.icon-13, .icon-cancel) {
    height: 13px;
}
.input-icon-wrapper :is(.icon-11, .icon-check) {
    height: 11px;
}
.input-icon-wrapper.custom-select .icon,
.input-icon-wrapper .icon-6 {
    height: 6px;
}
.input-icon-wrapper .divider {
    border-left: solid 1px #A8A8A8;
    height: 100%;
}
.input-icon-wrapper button:hover {
    background-color: #0C2E621F;
}


/** TASK FORM SPECIFICS */
.edit-task-form .hide-on-edit-mode {
    display: none;
}
.add-task-form {
    gap: 24px;
    --field-width: 444px;
}
.edit-task-form {
    --field-width: 100%;
}
/* .task-form.add-task-form {
    gap: 64px;
} */
.task-form .priority-input-wrapper {
    row-gap: 2px;
}
.task-form #assignedContactBatches {
    margin-top: 4px;
}
.task-form .submit-button-wrapper {
    flex-grow: 1;
    max-height: 56px;
    margin-top: auto;
}
.task-form .submit-button-wrapper .required-info {
    position: absolute;
    align-self: end;
    left: 0;
}
.subtask-listing {
    display: flex;
    flex-direction: column;
    margin-block: 0;
    margin-block-start: 10px;
    padding-inline: 0;
    gap: 4px;
    padding-bottom: 10px;
}
.input-wrapper-subtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.input-wrapper-subtask input {
    height: 40px;
    min-height: unset !important;
    background-color: transparent !important;
    border: none !important;
    font-size: var(--fs-base) !important;
    padding-right: 90px !important;
    transition-duration: var(--transition-duration);
}
.input-wrapper-subtask.read-only .list-bullet {
    position: absolute;
    left: 24px;
}
.input-wrapper-subtask.read-only input {
    padding-left: 44px !important;
}
.input-wrapper-subtask.read-only:hover {
    background-color:  #EEEEEE !important;
    border-radius: 10px;
}
.input-wrapper-subtask.read-only .input-icon-wrapper.edit {
    display: none;
}
.input-wrapper-subtask.read-only input:hover + .input-icon-wrapper.read-only {
    display: flex;      
}
.input-wrapper-subtask.edit {
    border-bottom: solid 1px  var(--clr-light-blue);
}
.input-wrapper-subtask.edit .list-bullet {
    position: relative;
    display: none;
}
.input-wrapper-subtask.edit input {
    background-color: white !important;
    border-radius: 0 !important;
}
.input-wrapper-subtask.edit .input-icon-wrapper.read-only {
    display: none;
}
.input-wrapper-subtask.edit .input-icon-wrapper.edit {
    display: flex;
}
/* #subtaskInputButtonAdd, */
.input-wrapper-subtask.invalid .input-icon-wrapper.edit button:last-of-type {
    pointer-events: none;
}


/* BREAKPOINTS */

@media(max-width: 1259px) {
    .contact-form {
        --field-width: 366px;
    }
    .task-form {
        --field-width: 100%;
    }
    .task-form .field-groups {
        flex-direction: column;
        min-height: unset;
    }
    .task-form.scrollable .field-groups {
        margin-right: 0;
    }
    .task-form .field-groups .field-group {
        flex-grow: 0;
    }
    .task-form .field-group-divider {
        display: none;
    }
    .task-form .submit-button-wrapper {
        max-width: var(--field-width) !important;
    }
    .task-dialogue .add-task-form .submit-button-wrapper .required-info {
        align-self: unset;
        top: -36px;
        left: 0;
    }
    .task-dialogue .add-task-form {
        row-gap: 64px;
    }
}

@media(max-width: 800px) {
    .field-groups {
        flex-direction: column;
    }
}

@media(max-width: 599px) {
    .priority-input-wrapper .btn-radio  {
        font-size: var(--fs-base);
    }
    .submit-button-wrapper {
        flex-wrap: wrap;
        max-height: unset !important;
    }
    form.add-task-form {
        gap: 60px;
    }
    .add-task-page .add-task-form .submit-button-wrapper .required-info {
        align-self: unset;
        top: -36px;
        left: 0;
    }
    .add-task-page .submit-button-wrapper button {
        --fs-lg: 16px;
    }
}

@media(max-width: 434px) {
    .contact-form {
        --field-width: 100%;
    }
    .field-group {
        width: 100%;
    }
    .btn-cancel span,
    .priority-input-wrapper label span {
        display: none;
    }
}
