.fs-lg {
    font-size: var(--fs-lg);
}
.fs-xl {
    font-size: var(--fs-xl);
}
.page-title-wrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 16px;
    margin-bottom: 48px;
}
.page-title {
    font-size: var(--fs-main-title);
    font-weight: var(--fw-bold);
}
.page-subtitle {
    font-size: var(--fs-xl);
    font-weight: var(--fw-regular);
    min-width: 150px;
}
.title-deco-divider {
    background-color: var(--clr-light-blue);
    width: 3px;
    height: 59px;
}
a:hover {
    text-decoration: underline;
}

.logo-join-small {
    height: 66px;
    width: auto;
    object-fit: contain;
}


/*** BUTTONS */
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--ff-primary);
    line-height: 1.2;
    letter-spacing: 0;
    gap: 10px;
    max-width: max-content;
    font-size: var(--fs-base);
}
.btn-iconless {
    border-radius: 8px;
    padding: 15px 24px;
    min-height: 48px;
}
.btn-icon {
    border-radius: 10px;
    padding-block: 16px;
    padding-inline: 24px;
    min-height: 56px;
    font-size: var(--fs-lg);
    --icon-color: var(--clr-main);
}
.btn-primary {
    color: white;
    --icon-color: white;
    font-weight: var(--fw-bold);
    background-color: var(--clr-main);
    border: none;
}
.btn-primary:hover {
    background-color: var(--clr-light-blue);
}
.btn-primary:disabled {
    background-color: var(--clr-main);
    opacity: 0.8;
}
.btn-secondary {
    color: var(--clr-main);
    border: solid 1px var(--clr-main);
}
.btn-secondary:hover {
    color: var(--clr-light-blue);
    --icon-color: var(--clr-light-blue);
    border-color: var(--clr-light-blue);
    border-width: 2px;
}
.btn-secondary:disabled {
}
.button img {
    height: 12px;
    width: auto;
    object-fit: contain;
}
.floating-button-round {
    position: fixed;
    z-index: 900;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: var(--clr-main);
    border: 1px solid var(--clr-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.floating-button-round.bottom-right {
    bottom: 32px;
    right: 32px;
}
.floating-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 9999;
}
:is(.floating-button-round, .floating-message) img {
    height: 32px;
}
.floating-message img.icon-board {
    height: 30px;
}



/*** FORM/INPUTS */

form {
    display: flex;
    flex-direction: column;
    --field-width: 422px;
}
form.scrollable {
    position: absolute;
    inset: 0;
}
.field-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}
.field-wrapper.has-alert {
    padding-bottom: 16px;
}
.field-groups {
    row-gap: 12px;
}
form.scrollable .field-groups {
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: -15px;
    scrollbar-width: none;
}
.field-group {
    max-width: var(--field-width);
    padding-left: 1px;
    padding-right: 1px;
    gap: 24px;
}
.dialogue:not(.task-dialogue) .field-group {
    min-width: var(--field-width);
}

label {
    font-size: 20px;
    margin-bottom: 8px;
}
label.required::after,
.required-info::before {
    content: "*";
    color: var(--clr-warning);
}
input:not([type="checkbox"], [type="radio"]):not(.search-input):not(.login-signup-input),
textarea, select {
    padding: 12px 21px;
    border-radius: 10px;
    border: solid 1px var(--clr-subtle);
    font-family: var(--ff-primary);
    font-size: 20px;
    min-height: 48px;
    background-color: white;
}
textarea {
    resize: vertical;
    min-height: 120px;
}
.btn-radio {
    color: var(--clr-main);
    background-color: white;
    border: solid 1px var(--clr-subtle);
    cursor: pointer;
    justify-content: center;
    padding: 16px 10px;
    flex-grow: 1;
    min-width: 136px;
}
.hide-child-input {
    position: relative;
}
.hide-child-input input {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0; 
}
.invalid input {
    border-color: var(--clr-warning) !important;
}
.validation-alert {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    height: 12px;
    font-size: 12px;
    color: var(--clr-warning);
}
.invalid .validation-alert {
    visibility: visible;
}
.required-info {
    position: relative;
    margin-left: 16px;
}
.required-info::before {
    position: absolute;
    top: -0.175em;
    left: -12px;
    font-size: 20px;
}

.field-group-divider {
    border-left: solid 1px var(--clr-subtle);
}

.select-text,
::placeholder {
    font-size: 20px;
}
::placeholder,
[data-placeholder-style="true"] {
    color: var(--clr-subtle);
}
.input-wrapper {
    z-index: 1;
}




/** PRIORITY RADIO BUTTONS */

.priority-input-wrapper  {
    gap: 16px;
}
.priority-input-wrapper .icon-wrapper {
    display: flex;
}
label.prio-high {
    --icon-color: var(--clr-prio-high);
}
label.prio-medium {
    --icon-color: var(--clr-prio-medium);
}
label.prio-low {
    --icon-color: var(--clr-prio-low);
}
label.prio-high:hover,
label.prio-high:has( > input:checked) {
    background-color: var(--clr-prio-high);
}
label.prio-medium:hover,
label.prio-medium:has( > input:checked) {
    background-color: var(--clr-prio-medium);
}
label.prio-low:hover,
label.prio-low:has( > input:checked) {
    background-color: var(--clr-prio-low);
}
.priority-input-wrapper label:hover,
.priority-input-wrapper label:has( input:checked) {
    color: white;
    --icon-color: white;
    border: none;
    font-weight: var(--fw-bold);
}



/** CUSTOM SELECT */

.select.custom-select {
    position: relative;
    width: 100%;
}
.select.custom-select .select-options-wrapper {
    list-style: none;
    padding-top: 10px;
    padding-inline: 0;
    margin-block: -8px;
    margin-bottom: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    /* position: absolute; */
    animation-name: fadeinUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    scrollbar-color: #eee white;
}
.select-options-wrapper.multiple li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}
.select-option label,
.select-options-wrapper:not(.multiple) .select-option {
    font-size: var(--fs-lg);
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    height: 48px;
    padding-inline: 16px;
    margin-bottom: 1px;
    cursor: pointer;
    transition: 0.3s;
    overflow-wrap: anywhere;
    border-radius: 10px;
}
.select-options-wrapper.multiple label {
    height: 56px;
}
.select-options-wrapper.multiple.right label {
    padding-right: 54px;
}
.select.custom-select .label-icon {
    order: -1;
}
.select.custom-select label:hover,
.select.custom-select label:focus,
.select.custom-select label:has( input:focus, input:checked),
.select-option:hover,
.select-option:focus,
.select-option[aria-selected="true"] {
    background-color: var(--clr-subtle);
    background-color: #eee;
}
.select.custom-select.multiple label:has( input:checked) {
    background-color: var(--clr-main);
    color: white;
}
.select.custom-select.multiple label:hover:has( input:checked) {
    background-color: var(--clr-dark);
}
.field-wrapper:not(.select-expanded) .select-options-wrapper {
    display: none;
}
.field-wrapper.select-expanded .input-icon-wrapper.custom-select img {
    rotate: 180deg;
}
input[disabled] + .input-icon-wrapper.custom-select {
    display: none;
}


/** TASK FORM SPECIFIC */
.edit-task-form .hide-on-edit-mode {
    display: none;
}
.task-form {
    gap: 64px;
}
form.task-form {
    --field-width: 442px;
}
.task-form .field-groups {
    /* min-height: 380px;
    flex-grow: 0; */
}
.task-form .priority-input-wrapper {
    flex-wrap: wrap;
    row-gap: 2px;
}
.task-form #assignedContactBatches {
    margin-top: 4px;
}
.task-form .submit-button-wrapper {
    flex-grow: 1;
    max-height: 56px;
    margin-top: auto;
}
:is(.task-page-inner, .task-dialogue) .submit-button-wrapper .required-info {
    position: absolute;
    top: 32px;
    left: 0;
}




/** CUSTOM INPUT BUTTONS (VARIOUS) */

.input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-grow: 1;
}
.input-wrapper :is(input, select) {
    width: 100%;
}
.input-icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    gap: 4px;
    height: 24px;
    margin-left: 12px;
}
.input-icon-wrapper.simple,
.input-wrapper .input-icon-wrapper,
.input-icon-wrapper:where(.custom-checkbox) {
    position: absolute;
    right: 16px;
}
.input-icon-wrapper.custom-select:not(.multiple) {
    pointer-events: none;
}
.input-icon-wrapper.simple,
.input-icon-wrapper.custom-select,
.input-icon-wrapper :where(button, .checkbox-checked-wrapper) {
    width: 24px;
    height: 24px;
}
.input-icon-wrapper :where(button, .checkbox-checked-wrapper) {
    display: flex;
    justify-content: center;
    align-items: center;
}
input:has(+ .input-icon-wrapper.simple) {
    padding-right: 56px;
}
.input-icon-wrapper :is(img, .icon) {
    height: 100%;
    width: auto;
    object-fit: contain;
}
.input-icon-wrapper.custom-checkbox input {
    position: absolute;
    appearance: none;
    box-sizing: content-box;
    border: solid 2px var(--clr-main);
    border-radius: 3px;
    width: 12px;
    height: 12px;
    right: 2px;
    bottom: 2px;
    transition-duration: var(--transition-duration);
}
.input-icon-wrapper.custom-checkbox .checkbox-checked-wrapper,
.radio-select-option {
    display: none;
}
.input-icon-wrapper.custom-checkbox input:checked {
    visibility: hidden;
}
.input-icon-wrapper.custom-checkbox input:checked + .checkbox-checked-wrapper {
    display: flex;
}
.input-icon-wrapper.custom-checkbox input:checked + .checkbox-checked-wrapper img {
    margin-left: -2px;
    height: 17px;
}
.input-icon-wrapper.custom-checkbox input:focus {
    box-shadow: none;
}

.input-icon-wrapper :is(.icon-24) {
    height: 24px;
}
.input-icon-wrapper :is(.icon-22, .icon-phone-input) {
    height: 22px;
}
.input-icon-wrapper :is(.icon-20, .icon-email-input) {
    height: 20px;
}
.input-icon-wrapper :is(.icon-18, .icon-edit, .icon-delete, .icon-checkbox) {
    height: 18px;
}
.input-icon-wrapper :is(.icon-14, .icon-add) {
    height: 14px;
}
.input-icon-wrapper :is(.icon-13, .icon-cancel) {
    height: 13px;
}
.input-icon-wrapper :is(.icon-11, .icon-check) {
    height: 11px;
}
.input-icon-wrapper.custom-select .icon,
.input-icon-wrapper .icon-6 {
    height: 6px;
}
.input-icon-wrapper .divider {
    border-left: solid 1px #A8A8A8;
    height: 100%;
}



/** INPUT SUBTASKS */
.subtask-listing {
    display: flex;
    flex-direction: column;
    margin-block: 0;
    margin-block-start: 4px;
    padding-inline: 0;
    gap: 3px;
}
.subtask-listing li,
.subtask-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-height: 32px;
    transition-duration: var(--transition-duration);
}
.subtask-listing li input {
    display: list-item;
    /* margin-left: 28px; */
    /* width: 100%; */
    background-color: #ededed !important;
    border: none !important;
}
.subtask-listing .input-icon-wrapper {
    display: none;
}
.input-wrapper-subtask:not(.edit-mode) .input-icon-wrapper-edit {
    display: none;
}
.input-wrapper-subtask.edit-mode .input-icon-wrapper-read {
    display: none;
}
.input-wrapper-subtask.edit-mode .input-icon-wrapper-edit {
    display: flex; /* unset hide */
}
.input-wrapper-subtask.edit-mode {
    background-color: white;
    border-bottom: solid 1px  var(--clr-light-blue);
    margin-top: 12px;
}
:is(.subtask-listing:hover) .input-wrapper-subtask:not(.edit-mode) .input-icon-wrapper-read {
    display: flex;
}
.subtask-listing li:hover {
    background-color: #EEEEEE;
    border-radius: 10px;
}
.subtask-wrapper .input-icon-wrapper button:hover {
    background-color: #EEEEEE;
    transform: scale(1.05);
    border-radius: 100%;
}
#subtaskInputButtonAdd {
    pointer-events: none;
}
.input-wrapper-subtask.invalid .input-icon-wrapper-edit {
    pointer-events: none;
}



/** PROFILE BATCHES */

.profile-batches {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-block: 0;
    padding-inline: 0;
    max-width: 100%;

}
.profile-batch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 42px;
    height: 42px;
    color: white;
    border: solid 2px white;
    border-radius: 100%;
    background-color: var(--profile-color);
    font-size: 12px;
}
.profile-batch-large {
    width: 120px;
    height: 120px;
    font-size: 47px;
}
.edit-buttons {
    gap: 24px;
}
.edit-buttons button {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;
}
.edit-buttons button img {
    height: 18px;
    width: auto;
    object-fit: contain;
}




/*** DIALOGUES */

.dialogue {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}
button.close-dialogue {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 2000;
}
button.close-dialogue .light {
    display: none;
}

.task-dialogue button.close-dialogue {
    top: 32px;
    right: 40px;
}
.task-dialogue.add-task button.close-dialogue {
    top: 64px;
}

.dialogue-inner {
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    /* flex-grow: 1; */
    width: 100%;
    /* align-items: stretch; */
    /* overflow-y: auto; */
}
.task-dialogue:not(.add-task) .dialogue-inner {
    padding: 48px 40px;
    max-width: 525px;
    gap: 24px;
}
.task-dialogue .dialogue-inner {
    flex-grow: 1;
}
.task-dialogue.add-task .dialogue-inner {
    max-width: 1124px;
    padding: 64px 74px;
    gap: 24px;
}
.contact-dialogue .dialogue-inner {
    /* height: 100%; */
    max-height: 594px;
    width: 100%;
    max-width: 1212px;
    align-items: stretch;
}
.contact-dialogue .dialogue-inner > div {
    padding: 66px 48px;
    justify-content: center;
}
.dialogue-main {
    /* flex-grow: 1; */
}
.dialogue-sidebar {
    background-color: var(--clr-main);
    color: white;
    font-size: var(--fs-xl);
    justify-content: center;
    gap: 12px;
    align-items: start;
    width: 100%;
    /* flex-grow: 1; */
}
.contact-dialogue .dialogue-sidebar {
    max-width: 469px;
}
.dialogue-sidebar .title-deco-divider {
    order: 99;
    width: 90px;
    height: 3px;
}

.contact-dialogue .field-groups {
    gap: 72px;
}
.field-group {
    gap: 19px;
}
.contact-dialogue .batch-wrapper {
    margin-top: -120px;
}
.contact-dialogue .submit-button-wrapper {
    margin-top: 18px;
}
.contact-dialogue button.close-dialogue {
    top: 40px;
    right: 40px;
}





/** BREAKPOINTS */

@media(max-width: 1345px) {
    form.task-form {
        --field-width: 600px;
    }
    .task-dialogue.add-task .dialogue-inner {
        max-width: 525px;
        padding: 48px 40px;
        gap: 24px;
    }
    .task-form .field-groups {
        flex-direction: column;
        min-height: unset;
    }
    .task-form.scrollable .field-groups {
        margin-right: 0;
    }
    .task-form .field-groups .field-group {
        flex-grow: 0;
    }
    .task-form .field-group-divider {
        display: none;
    }
    .task-form .submit-button-wrapper {
        max-width: var(--field-width) !important;
    }
    .task-form .required-info {
        top: -32px !important;
    }
}
@media(max-width: 735px) {
    form {
        --field-width: 364px;
    }
    form.task-form {
        --field-width: 100%;
    }
    .page-title-wrapper {
        flex-direction: column;
        align-items: start;
    }
    .title-deco-divider {
        order: 99;
        width: 90px;
        height: 3px;
    }
    .field-groups {
        flex-direction: column;
    }
    .floating-button-round.bottom-right {
        bottom: calc(var(--height-footer) + 32px);
    }
    .dialogue-inner > div {
        padding: 61px 16px !important;
    }
    .dialogue-main .field-groups {
        /* flex-wrap: wrap; */
    }
    .contact-dialogue button.close-dialogue {
        top: 24px;
        right: 16px;
    }
    .priority-input-wrapper label  {
        font-size: var(--fs-base);
    }
}
@media(max-width: 511px) {
    form {
        --field-width: 100% !important;
    }
    .task-form .priority-input-wrapper {
        justify-content: start;
    }
    .submit-button-wrapper {
        flex-wrap: wrap;
        /* justify-content: start; */
        max-height: unset !important;
    }
}
