.page-title {
    font-size: 61px;
    font-weight: var(--fw-bold);
    margin-bottom: 48px;
}
.subtitle {
    font-size: 27px;
}
a:hover {
    text-decoration: underline;
}


/*** BUTTONS */
button, .button {
    transition-duration: 125ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--ff-primary);
    line-height: 1.2;
    letter-spacing: 0;
    gap: 10px;
}
.btn-iconless {
    border-radius: 8px;
    padding: 15px 24px;
    min-height: 48px;
    font-size: var(--fs-base);
}
.btn-icon {
    border-radius: 10px;
    padding: 16px;
    min-height: 56px;
    font-size: 21px;
    --icon-color: var(--clr-main);
}
.btn-primary {
    color: white;
    --icon-color: white;
    font-weight: var(--fw-bold);
    background-color: var(--clr-main);
    border: none;
}
.btn-primary:hover {
    background-color: var(--clr-light-blue);
}
.btn-secondary {
    color: var(--clr-main);
    border: solid 1px var(--clr-main);
}
.btn-secondary:hover {
    color: var(--clr-light-blue);
    --icon-color: var(--clr-light-blue);
    border-color: var(--clr-light-blue);
    border-width: 2px;
}
button img {
    height: 12px;
    width: auto;
}



/*** FORM/INPUTS */

form {
    display: flex;
    flex-direction: column;
    --field-width: 440px;
}
.field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.field-col {
    min-width: var(--field-width);
    max-width: var(--field-width);
}

label {
    font-size: 20px;
}
.required::after,
.required-info::before {
    content: "*";
    color: var(--clr-warning);
}
.required-info {
    position: relative;
    margin-left: 16px;
}
.required-info::before {
    position: absolute;
    top: -0.175em;
    left: -12px;
    font-size: 20px;
}
input, textarea, select {
    padding: 12px 21px;
    border-radius: 10px;
    border: solid 1px var(--clr-subtle);
    font-family: var(--ff-primary);
    font-size: 20px;
    min-height: 48px;
    background-color: white;
}
select {
    appearance: base-select;
}
textarea {
    resize: vertical;
    min-height: 120px;
}
.btn-radio {
    color: var(--clr-main);
    background-color: white;
    border: solid 1px var(--clr-subtle);
    cursor: pointer;
    width: 136px;
    justify-content: center;
    padding: 16px 10px;
}


.v-divider {
    border-left: solid 1px var(--clr-subtle);
}


.priority-input-wrapper  {
    gap: 16px;
}
.priority-input-wrapper input {
    display: none;
}
label.prio-high {
    --icon-color: var(--clr-prio-high);
}
label.prio-medium {
    --icon-color: var(--clr-prio-medium);
}
label.prio-low {
    --icon-color: var(--clr-prio-low);
}
label.prio-high:hover,
input:checked + label.prio-high {
    background-color: var(--clr-prio-high);
}
label.prio-medium:hover,
input:checked + label.prio-medium {
    background-color: var(--clr-prio-medium);
}
label.prio-low:hover,
input:checked + label.prio-low {
    background-color: var(--clr-prio-low);
}
.priority-input-wrapper label:hover,
.priority-input-wrapper input:checked + label {
    color: white;
    --icon-color: white;
    border: none;
    font-weight: var(--fw-bold);
}



::placeholder,
.placeholder {
    color: var(--clr-subtle);
}
.placeholder:focus {
    color: var(--clr-main);
}

.add-task-form .required-info {
    margin-top: 171px;
    margin-bottom: -64px;
}


.profile-batches {
    display: flex;
    flex-direction: flex-row;
    gap: 12px;
}
.profile-batch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    color: white;
    border: solid 2px white;
    border-radius: 100%;
    background-color: var(--profile-color);
    font-size: 12px;
}




@media(max-width: 1339px) {
    .field-row {
        flex-direction: column;
    }
    .field-col {
        min-width: 100%;
        max-width: var(--field-width);
    }
    .priority-input-wrapper {
        justify-content: start;
        flex-wrap: wrap;
    }
    .add-task-form .required-info {
        margin-top: 32px;
        margin-bottom: 100px;
    }
}



