.logo {
    object-fit: contain;
}
.logo-large {
    width: 100px;
    height: auto;
}
.logo-small {
    height: 66px;
    width: auto;
}

.fs-lg {
    font-size: var(--fs-lg);
}
.fs-xl {
    font-size: var(--fs-xl);
}
.page-title-wrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 16px;
    margin-bottom: 32px;
}
.page-title {
    font-size: var(--fs-main-title);
    font-weight: var(--fw-bold);
    color: black;
}
.page-subtitle {
    font-size: var(--fs-xl);
    font-weight: var(--fw-regular);
    white-space: nowrap;
}
.title-deco-divider {
    background-color: var(--clr-light-blue);
    width: 3px;
    height: 59px;
    flex-shrink: 0;
}
a:hover {
    text-decoration: underline;
}



/* BUTTONS */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: var(--fs-base);
}
.button.hide {
    pointer-events: none;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: var(--fs-base);
    line-height: 1.2;
    letter-spacing: 0;
    height: 100%;
    max-width: 100%;
    padding-inline: 22px;
    gap: 10px;
}
.btn-iconless {
    border-radius: 8px;
    padding-block: 15px;
    max-height: 48px;
}
.btn-icon {
    border-radius: 10px;
    padding-block: 16px;
    max-height: 56px;
    font-size: var(--fs-lg);
    --icon-color: var(--clr-main);
}
.btn-small {
    max-height: 48px;
}
.btn-primary {
    color: white;
    --icon-color: white;
    font-weight: var(--fw-bold);
    background-color: var(--clr-main);
    border: none;
}
.btn-primary:active {
    background-color: var(--clr-dark);
}
.btn-primary:not(.floating-message):hover {
    background-color: var(--clr-light-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-primary:disabled, .btn-primary:disabled:hover {
    opacity: 0.8;
    background-color: var(--clr-main);
    box-shadow: none;
}
.btn-secondary {
    position: relative;
    color: var(--clr-main);
    /* border: solid 1px var(--clr-main); */
    border: solid 1px var(--clr-main);
}
.btn-secondary:hover {
    color: var(--clr-light-blue);
    --icon-color: var(--clr-light-blue);
    border: solid 1px var(--clr-light-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-secondary:hover::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: solid 1px var(--clr-light-blue);
}
.button img {
    height: 12px;
    width: auto;
    object-fit: contain;
}
.floating-button-round {
    position: fixed;
    z-index: 900;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: var(--clr-main);
    border: 1px solid var(--clr-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.floating-button-round.bottom-right {
    right: 32px;
    bottom: calc(var(--height-footer) + 32px);
}
.floating-message {
    position: fixed;
    left: 100%;
    z-index: 9999;
    height: unset;
    max-height: max-content;
    width: 100%;
    min-width: 272px;
    max-width: max-content;
    border-radius: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    line-height: 1.5;
    font-weight: var(--fw-regular);
    transform: translateX(110%);
}
.floating-message.animate {
    animation: floating-message 3s;
}
.floating-message.alert {
    background-color: red;
}
.floating-message:not(.showing-top) {
    bottom: 20%;
}
.floating-message.showing-top {
    top: calc(var(--height-header) + 16px);
}
:is(.floating-button-round, .floating-message) img {
    height: 32px;
}
.floating-message img.icon-board {
    height: 30px;
}
.floating-button-round img[alt="three-dot-menu-icon"] {
    height: 26px;
}
.floating-button-round:hover {
    background-color: var(--clr-light-blue);
    border-color: var(--clr-light-blue);
}

.back-button-wrapper {
    position: sticky;
    top: 0;
    align-self: end;
    margin-bottom: -30px;
    padding: 2px;
}
.back-button {
    display: flex;
    padding: 6px 4px;
    border-radius: 100%;
}
.back-button img {
    height: 21px;
    width: auto;
    object-fit: contain;
}
.back-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transform: scale(1.1);
    transition: transform 0.1s ease;
}
.option-buttons {
    gap: 24px;
}
.option-buttons button {
    display: flex;
    align-items: center;
    gap: 12px;
}
.option-buttons button img {
    height: 18px;
    width: auto;
    object-fit: contain;
    margin-top: -2px;
}
.option-buttons .option-button-edit {
  width: 58px;
}
.option-buttons .option-button-delete {
  width: 72px;
}
.option-buttons button:hover {
  font-weight: var(--fw-bold) !important;
  color: var(--clr-light-blue) !important;
}

.profile-batches {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-block: 0;
    padding-inline: 0;
    max-width: 100%;
}
.profile-batch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 42px;
    height: 42px;
    color: white;
    border: solid 2px white;
    border-radius: 100%;
    background-color: var(--profile-color);
    font-size: 12px;
}

/* DIALOGUES */

.dialogue.slide-in {
    animation: slide-in-right 125ms;
}
.dialogue.slide-out {
    animation: slide-out-right 125ms;
}
.dialogue {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}
button.close-dialogue {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 2000;
    border-radius: 100%;
    transition-duration: 175ms;
}
.contact-dialogue button.close-dialogue img {
    margin-left: 2px;
}
button.close-dialogue .close-icon.light {
    display: none;
}
button.close-dialogue:hover {
    background-color: var(--clr-light-blue);
}
button.close-dialogue:hover .close-icon.dark {
    display: none;
}
button.close-dialogue:hover .close-icon.light {
    display: flex;
}
.task-dialogue button.close-dialogue {
    top: 32px;
    right: 40px;
}
.task-dialogue.add-task button.close-dialogue {
    top: 64px;
}
.dialogue-inner {
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    scrollbar-width: none;
}

.task-dialogue:not(.add-task) {
    --padding-dialogue: 48px 48px;
}
.task-dialogue.show-task .dialogue-inner {
    overflow-y: auto;
}
.task-dialogue .dialogue-inner {
    max-height: 870px;
}
.task-dialogue:not(.show-task) .dialogue-inner {
    flex-grow: 1;
}
.task-dialogue.show-task .task-details-wrapper {
    flex-grow: 1;
}
.task-dialogue:not(.add-task) .dialogue-inner {
    padding: var(--padding-dialogue);
    gap: 24px;
    max-width: 525px;
}
.task-dialogue.add-task {
    --padding-dialogue: 64px 74px;
}
.task-dialogue.add-task .dialogue-inner {
    padding: var(--padding-dialogue);
    max-width: 1124px;
    padding: 64px 74px;
    gap: 24px;
}
.contact-dialogue {
    --padding-dialogue: 66px 48px;
}
.contact-dialogue .dialogue-inner {
    height: 100%;
    max-height: 594px;
    width: 100%;
    max-width: 1212px;
    align-items: stretch;
}
.contact-dialogue .dialogue-inner > div {
    padding: var(--padding-dialogue);
    justify-content: center;
}
.dialogue-sidebar {
    background-color: var(--clr-main);
    color: white;
    font-size: var(--fs-xl);
    justify-content: center;
    gap: 12px;
    align-items: start;
    width: 100%;
    user-select: none;
}
.contact-dialogue .dialogue-sidebar {
    max-width: 469px;
}
.dialogue-sidebar .page-title {
    color: white;
}
.dialogue-sidebar .title-deco-divider {
    order: 99;
    width: 90px;
    height: 3px;
}
.contact-dialogue .field-groups {
    gap: 72px;
}
.field-group {
    gap: 19px;
}
.contact-dialogue .batch-wrapper {
    margin-top: -120px;
}
.contact-dialogue .submit-button-wrapper {
    margin-top: 18px;
}
.contact-dialogue button.close-dialogue {
    top: 40px;
    right: 40px;
}



/* BREAKPOINTS */

@media(max-width: 1259px) {
    .page-title-wrapper {
        margin-bottom: 32px;
    }
    .task-dialogue.add-task {
        --padding-dialogue: 48px 40px;
    }
    .task-dialogue.add-task .dialogue-inner {
        max-width: 525px;
        padding: var(--padding-dialogue);
        gap: 24px;
    }
}

@media(max-width: 800px) {
    .page-title-wrapper {
        flex-direction: column;
        align-items: start;
    }
    .title-deco-divider {
        order: 99;
        width: 90px;
        height: 3px;
    }
    .task-dialogue button.close-dialogue {
        top: 24px;        
        right: 6vw;        
    }
    .contact-dialogue button.close-dialogue {
        top: 24px;
        right: 16px;
    }
    .floating-message.showing {
        left: 50%;
        transform: translateX(-50%);
    }
    .floating-message.showing-top {
        top: calc(var(--height-header) + 54px);
    }
}

@media(max-width: 599px) {
    .task-dialogue {
        --padding-dialogue: 32px 16px !important;
    }
    .task-dialogue .dialogue-inner {
        max-width: 396px !important;
    }
    .task-dialogue.add-task .dialogue-inner {
        --padding-inline: 16px;
    }
    .task-dialogue button.close-dialogue {
        right: 16px;        
    }
    .contact-dialogue {
        --padding-dialogue: 61px 16px;
    }
    .floating-message {
        font-size: var(--fs-base) !important;
   }
}

@media(max-width: 427px) {
    .submit-button-wrapper button {
        font-size: var(--fs-base);
    }
    .floating-message {
        max-width: 85vw !important;
        white-space: wrap;
   }
}

