.board-page-inner {
    top: 80px;
}

.board-page-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    /* max-width: 1056px; */
    margin-bottom: 62px;
}

.add-task-button img {
  height: 19px;
}

.board-input {
    border: 1px;
    border-radius: 10px;
    width: 312px;
    height: 48px;
    gap: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.find-task {
    font-weight: 400;
    font-size: 20px;
    color: #D1D1D1;
}

.input-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.input-img img {
    width: 24px;
    height: 24px;
}

.board-search-input-wrapper {
    display: flex;
    align-items: center;
    width: 312px;
    height: 48px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 0 12px;
    box-sizing: border-box;
}

  .input-wrapper-board:focus-within {
    border-color: #29ABE2;
}

  .search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
    background-color: transparent;
    width: 312px;
    height: 48px;
  }

.search-input::placeholder {
    color: #D1D1D1;
    font-weight: 400;
}

.input-divider {
    width: 1px;
    height: 60%;
    background-color: #D1D1D1;
    margin: 0 12px;
}




.boards-wrapper {
  display: flex;
  gap: 24px;
  flex-grow: 1;
  width: 100%;
  /* max-width: 1208px; */
  /* padding-top: 20px; */
  overflow-y: auto;
  scrollbar-width: none;
}

.board {
  display: flex;
  flex-direction: column;
  /* border-radius: 8px; */
  width: 100%;
}

.board-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 24px; */
  margin-bottom: 15px;
  width: 100%;
}

.board-title {
  font-weight: 700;
  font-size: var(--fs-lg);
  color: hsl(218, 25%, 35%);
}

.add-task-button-board {
  --icon-color: var(--clr-main);
}

.add-task-button-board:hover {
  --icon-color: var(--clr-light-blue);
}

.board-task-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: dashed 1px transparent;
  border-radius: 26px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.board-task-list.dropzone {
  border: dashed 1px black;
  /* border: dashed 1px var(--clr-subtle); */
  opacity: 0.6;
}

.board-task {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
  width: 252px;
  padding: 16px;
  border-radius: 26px;
  background: #FFFFFF;
  cursor: grab;
}

.board-no-task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background-color: #E7E7E7;
  border: dotted 1px #A8A8A8;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.board-task-category {
  height: 27px;
  width: 113px;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  color: #FFFFFF;
}

.board-task-heading {
  font-weight: var(--fw-bold);
  margin-bottom: -16px;
}

.board-task-description {
  color: #A8A8A8;
}

.board-task-progress-bar {
  width: 128px;
  height: 8px;
  border-radius: 8px;
  background-color: #F4F4F4;
  overflow: hidden;
}

.board-task-progress-done {
  background-color: #4589FF;
  height: 100%;
  width: 0;
}

.board-subtask-count {
  font-size: var(--fs-sm);
}

.board-task-user {
  height: 32px;
}

.profile-batches.task-board .profile-batch {
    width: 32px;
    height: 32px;
    min-width: unset;
    margin-right: -20px;
    border-width: 1px;
    padding-top: 1px;
}

.board-task-priority {
  width: 17px;
  height: auto;
}

.task-due-date {
  margin-top: 25px;
  margin-bottom: 25px;
}



/* BREAKPOINTS */

@media(max-width: 1439px) {
  .boards-wrapper {
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
  }
  .boards-wrapper {
    flex-direction: column;
  }
  .board-task-list {
    flex-direction: row;
  }
  .board-task-list {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    cursor: grab;
    transition: all 0.2s;
  }
  .board-task-list.active {
    cursor: grabbing;
    transform: scale(1.02);
  }
  .board-task {
    white-space: normal;
  }
}

@media(max-width: 1179px) {
  .board-page-title-wrapper {
    flex-direction: column;
    align-items: start;
  }
  .board-search-input-wrapper {
      width: 100%;
  }
  .add-task-button {
    height: 40px;
    min-width: 40px;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 0;
  }
  .add-task-button:hover {
    background-color: var(--clr-main);
  }
  .add-task-button .btn-label {
    display: none;
  }
  .add-task-button-board svg {
    height: 30px;
    width: 30px;
  }
}

@media(min-width: 1440px) {
    .board-page-inner {
        --px-sec: 64px;
    }
}
