.board-page-inner {
    top: 80px;
}
.board-page-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 62px;
}
.add-task-button img {
  height: 19px;
}
.search-input-wrapper {
  width: 100%;
  max-width: 312px;
}
.search-input-wrapper input {
  padding-block: 7px !important;
  padding-right: 82px !important;
}
.input-icon-wrapper-search {
  width: 48px;
  justify-content: end;
  border-left: solid 1px var(--clr-subtle);
}
.boards-wrapper {
  display: flex;
  gap: 21px; /* not 24px because of transp. border */
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}
.board {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.board-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}
.board-title {
  font-weight: 700;
  font-size: var(--fs-lg);
  color: hsl(218, 25%, 35%);
}
.add-task-button-board {
  --icon-color: var(--clr-main);
}
.add-task-button-board:hover {
  --icon-color: var(--clr-light-blue);
}

.board-task-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: dashed 1px transparent;
  border-radius: 26px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  flex-grow: 1;
}
.board-task-list:has( .board-no-task) {
  border-radius: 10px;
}
.board-task-list.dropzone {
  border: dashed 1px #888;
  background-color: #E7E7E7;
  opacity: 0.7;
}
.board-task {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
  width: 252px;
  padding: 16px;
  border-radius: 26px;
  background: #FFFFFF;
  cursor: grab;
}
.task-details-wrapper {
  font-size: var(--fs-lg);
  color: black;
  gap: 24px;
}
.task-details-wrapper label {
  font-size: var(--fs-lg);
  color: var(--clr-main);
  min-width: 92px;
  margin-bottom: 0;
}
.task-details-wrapper .board-task-meta {
  gap: 24px;
}
.board-no-task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background-color: #E7E7E7;
  border: dotted 1px #A8A8A8;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}
.task-options-menu-wrapper {
  position: absolute;
  right: 0;
  display: none;
}
.task-options-menu-button {
  padding-inline: 16px;
  padding-top: 4px;
  border-radius: 50%;
}
.task-options-menu-button img {
  height: 16px;
}
.task-options-menu {
  position: absolute;
  top: -4px;
  right: 32px;
  padding: 20px;
  /* background-color: #F4F4F4; */
  background-color: var(--clr-main);
  color: white;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 16px;
  z-index: 100;
  white-space: nowrap;
}
.task-options-menu.is-open {
  display: flex;
}
.task-options-menu:not(.is-open) {
  display: none;
}
.task-options-menu button {
  width: 100%;
  min-width: 145px;
  text-align: left;
  transition-duration: 175ms;
  color: var(--clr-disabled);
  height: 20px;
}
.task-options-menu button:hover {
  color: var(--clr-light-blue);
  font-weight: var(--fw-bold);
}

.board-task-category {
  width: max-content;
  padding-block: 4px;
  padding-inline: 16px;
  border-radius: 8px;
  color: #FFFFFF;
}
.task-details-wrapper .board-task-category {
  padding-inline: 24px;
  font-size: 23px;
}
.board-task-title {
  font-weight: var(--fw-bold);
  margin-bottom: -16px;
}
.task-details-wrapper .board-task-title {
  font-size: var(--fs-main-title);
}
.board-task-description {
  color: #A8A8A8;
  max-height: 58px;
}
.task-details-wrapper .board-task-description {
  color: black;
  max-height: unset;
  margin-top: 6px;
}
.board-task-progress-bar {
  width: 128px;
  height: 8px;
  border-radius: 8px;
  background-color: #F4F4F4;
  overflow: hidden;
}
.board-task-progress-done {
  background-color: #4589FF;
  height: 100%;
  width: 0;
}
.board-subtask-count {
  font-size: var(--fs-sm);
}
.board-task-user {
  height: 32px;
}
.profile-batches.task-board .profile-batch {
    width: 32px;
    height: 32px;
    min-width: unset;
    margin-right: -20px;
    border-width: 1px;
    padding-top: 1px;
}
.board-task-priority {
  width: 17px;
  height: auto;
}
.task-details-wrapper .board-task-priority div {
  gap: 10px;
}
.task-details-wrapper .board-task-meta.flex-col {
  gap: 10px;
}
.task-details-wrapper .board-task-assigned-to ul {
  gap: 4px;
}
.task-details-wrapper .board-task-assigned-to li {
  height: 56px;
  padding-inline: 16px;
  gap: 16px;
}
#taskDetailsSubtaskWrapper {
  margin-block: 0;
  padding-inline: 0;
}
#taskDetailsSubtaskWrapper li {
  position: relative;
  height: 32px !important;
  padding-inline: 16px;
  height: 100%;
  border-radius: 10px;
  width: max-content;
  gap: 16px;
}
#taskDetailsSubtaskWrapper li label {
  font-size: var(--fs-base);
  margin-left: 40px;
}
#taskDetailsSubtaskWrapper li:hover {
  background-color: #EEEEEE; 
}
#taskDetailsSubtaskWrapper .custom-checkbox {
  width: 14px;
  height: 14px;
  bottom: 7px;
  margin: 0;
}
#taskDetailsSubtaskWrapper .custom-checkbox-checked {
  display: none;
}
#taskDetailsSubtaskWrapper .custom-checkbox:not(:checked):hover {
  background-color: #ccc;
}
#taskDetailsSubtaskWrapper .custom-checkbox:checked {
  opacity: 0;
}
#taskDetailsSubtaskWrapper .custom-checkbox:checked + .custom-checkbox-checked {
  position: absolute;
  display: flex;
  pointer-events: none;
}

.board-task.dragging {
  transform: rotate(5deg);
}


/* BREAKPOINTS */

@media(max-width: 1439px) {
  .boards-wrapper {
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
  }
  .boards-wrapper {
    flex-direction: column;
  }
  .board-task-list {
    flex-direction: row;
  }
  .board-task-list {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    cursor: grab;
    transition: all 0.2s;
  }
  .board-task-list.active {
    cursor: grabbing;
    transform: scale(1.02);
  }
  .board-task {
    white-space: normal;
  }
  .task-options-menu-wrapper {
    display: flex;
  }
}

@media(max-width: 1179px) {
  :where(.main-inner-absolute):not(.inset) {
      top: 48px;
  }
  .board-page-title-wrapper {
    flex-direction: column;
    align-items: start;
    margin-bottom: 32px;
  }
  .search-input-wrapper {
      max-width: 100%;
  }
  .add-task-button {
    height: 40px;
    min-width: 40px;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 0;
  }
  .add-task-button:hover {
    background-color: var(--clr-main);
  }
  .add-task-button .btn-label {
    display: none;
  }
  .add-task-button-board svg {
    height: 30px;
    width: 30px;
  }
}

@media(max-width: 1439px) and (max-height: 800px) {
  :where(.main-inner-absolute):not(.inset) {
      top: 48px;
  }
  .board-page-title-wrapper {
    margin-bottom: 32px;
  }
}

@media(max-width: 800px) {
    .task-details-wrapper {
        --fs-main-title: 36px;
        --fs-lg: var(--fs-base);
    }
}
@media(min-width: 1440px) {
    .board-page-inner {
        --px-sec: 64px;
    }
}
