.board-page-inner {
    top: 80px;

    inset-inline: var(--px-sec-sm);
}

.contact-page-inner {
    flex-direction: row;
}
.contact-detail-section {
    flex-shrink: 1;
    background-color: var(--bg-page);
}

.contact-list-sidebar {
    background-color: white;
    width: 100%;
    max-width: 456px;
    padding: 0 24px 32px 24px;
    flex-shrink: 1.5;
    max-height: var(--height-full-ex-header);
    overflow: auto;
}
.contact-list-sidebar-inner {
    position: relative;
}
.contact-list-sidebar .sticky-button-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    padding-block: 22px;
}
button.add-contact {
    justify-content: center;
    gap: 16px;
    max-width: 100%;
}
button.add-contact img {
    height: 21px;
    width: auto;
    object-fit: contain;
}
.floating-button-round:is(.add-contact, .show-options) {
    display: none;
}
.contact-list-sidebar :where(ul, ol) {
    padding-inline: 0;
    margin-block: 0;
}
.contact-list-sidebar .contact-letter {
    padding: 36px 17px 36px 25px ;
    font-size: var(--fs-lg);
    font-weight: var(--fw-regular);
    border-bottom: solid 1px var(--clr-subtle);
    margin-bottom: 8px;
    height: 66px;
}
.contact-item {
    border-radius: 10px;
    min-height: 87px;
    gap: 35px;
    padding: 15px 24px;
    gap: 35px;
    cursor: pointer;
    max-width: 100%;
    overflow: hidden;
}
.contact-item .contact-details {
    gap: 5px;
}
.contact-item .name {
    font-size: var(--fs-lg);
}
.contact-item .email {
    color: var(--clr-link-blue);
}
.contact-item:where(.active, :hover, :focus) {
    background-color: var(--clr-main);
    color: white !important;
}
.contact-item:where(.active, :hover, :focus) .email {
    background-color: var(--clr-main);
    /* color: white; */
}


.floating-contact {
    display: flex;
    gap: 54px;
    align-items: center;
}
.floating-contact .profile-batch {
    flex-shrink: 0;
}
.floating-contact .profile-title {
    gap: 8px;
}
.floating-contact .profile-title h2 {
    font-size: var(--fs-xxl);
    font-weight: 500;
}
.contact-info {
    margin-top: 21px;
    gap: 22px;
}
.contact-info h3 {
    height: 74px;
    justify-content: center;
}
.contact-property {
    gap: 15px;
}
.contact-property .label {
    font-weight: var(--fw-bold);
}
.contact-property .email {
    color: var(--clr-link-blue);
}
#btnCloseContactDetails {
    display: none;
    position: absolute;
    right: var(--px-sec);
    width: 32px;
    height: 32px;
}
#btnCloseContactDetails img {
    height: 24px;
    width: auto;
    object-fit: contain;
}
#contactOptionsMenu {
    position: fixed;
    right: 28px;
    bottom: calc(var(--height-footer) + 26px);
    z-index: 910;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 20px;
}
#contactOptionsMenu button {
    font-size: var(--fs-base);
    color: var(--clr-main);
}

@media(max-width: 1345px) {
    .page-title-wrapper {
        flex-direction: column;
        align-items: start;
    }
    .title-deco-divider {
        order: 99;
        width: 90px;
        height: 3px;
    }
}
@media(max-width: 1259px) {
    .contact-list-sidebar {
        flex-shrink: 1;
    }
}
@media(max-width: 1179px) {
    .contact-list-sidebar {
        max-width: 100%;
    }
    .contact-page-inner:not(.show-contact-detail) .contact-detail-section {
        display: none;
    }
    .contact-page-inner:not(.show-contact-detail) .floating-button-round.add-contact {
        display: unset;
    }
    .contact-page-inner.show-contact-detail .contact-detail-section {
        position: absolute;
        inset: 0;
        overflow: auto;
    }
    .contact-page-inner.show-contact-detail .option-buttons:not(#contactOptionsMenu) {
        display: none;
    }
    .contact-page-inner.show-contact-detail .floating-button-round.show-options {
        display: unset;
    }
    .contact-dialogue .dialogue-inner {
        max-height: unset;
    }
    .contact-dialogue .batch-wrapper {
        margin-top: -124px;
    }
    .contact-dialogue .dialogue-sidebar {
        max-width: 100%;
        min-height: 351px;
    }
    .contact-dialogue .field-groups {
        flex-direction: column;
        gap: 32px;
    }
    .contact-dialogue .submit-button-wrapper {
        justify-content: center;
    }
    #btnCloseContactDetails {
        display: unset;
    }    
    .sticky-button-wrapper {
        display: none;
    }
    .contact-dialogue .dialogue-inner {
        flex-direction: column;
        min-height: unset;
        max-width: 745px;
        overflow: auto;
        scrollbar-width: none;
    }
    .contact-dialogue .dialogue-main {
        justify-content: flex-start;
    }
    button.close-dialogue .dark {
        display: none;
    }
    button.close-dialogue .light {
        display: unset;
    }
}

@media(max-width: 735px) {
    #btnReset {
        display: none;
    }
    .floating-contact {
        flex-wrap: wrap;
        gap: 16px;
    }
}

@media(max-width: 374px) {
    .contact-list-sidebar {
        padding-inline: 10px !important;
    }
    .contact-list-sidebar,
    .contact-item {
        padding-inline: 16px !important;
        gap: 16px;
    }
}

@media(min-width: 1440px) {
    .contact-page-inner {
        --px-sec: 55px;
    }
}
