.entry-page {
    padding-inline: var(--px-sec);
    padding-block: var(--px-sec) 32px;
    align-items: center;
}
.entry-page .main {
    position: relative;
    align-items: start;
    align-self: flex-start;
    margin-left: auto;
    --ct-w: 1440px;
    flex-grow: 1;
    gap: 32px;
}
.logo-entry {
    position: absolute;
}
.login-page .logo-entry {
    top: 50%;
    left: 50%;
    width: 274px;
    transform: translate(-50%, -50%);
}
.login-page.logo-animation .logo-entry,
.sign-up-page .logo-entry {
    top: 0;
    left: 0;
    width: 100px;
    transform: translate(0, 0);
    transition: all 1s ease-in-out;
}
.entry-page .sign-up-links-wrapper {
    margin-top: -8px;
    align-self: end;
    gap: 35px;
}
.entry-page .sign-up-links-wrapper {
    font-size: var(--fs-lg);
}
.entry-page .sign-up-links-wrapper a {
    text-decoration: none !important;
}
.entry-page .back-button {
    gap: 12px;
    position: absolute;
    top: 10px;
    left: -32px;
}
.entry-page .page-title-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 100%;
}
.entry-page .title-deco-divider {
    width: 90px;
    height: 3px;
}
.entry-page .term-links-wrapper {
    gap: 32px;
    align-self: center;
    margin-top: auto;
    /* margin-bottom: -32px; */
}
.entry-page .term-links-wrapper a {
    color: #A8A8A8;
    font-weight: var(--fw-regular);
    text-decoration: none;
    min-width: 109px;
}
.entry-page .term-links-wrapper a:hover {
    color: var(--clr-light-blue);
    font-weight: var(--fw-bold);
}
.entry-form-wrapper {
    align-self: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 100%;
    max-width: 598px;
    border-radius: 30px;
    padding-block: 48px;
    padding-inline: 88px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 1;
}
.entry-form .field-group {
    gap: 4px;
}
.login-form .field-group {
    gap: 10px;
}
.entry-form .field-wrapper {
    padding-bottom: 12px;
}
.entry-form .field-wrapper button:hover {
    background-color: transparent;
}
.entry-form .field-wrapper-terms {
    margin-top: 16px;
    margin-bottom: 4px;
    align-items: center;
    color: #A8A8A8;
}
.entry-form .submit-button-wrapper {
    margin-top: 12px;
    gap: 32px;
}


@media(max-width: 800px) {
    :root {
        --field-width: 366px;
    }
    .entry-page.entry-animation {
        transition: background 1s ease-in-out;
        background-color: var(--bg-page);
    }
    .entry-page {
        background-color: black;
    }
    .logo-entry {
        width: 64px !important;
    }
    .entry-page .sign-up-links-wrapper {
        align-self: center;
        margin-top: auto;
    }
    .login-page .term-links-wrapper {
        margin-top: unset;
    }
    .entry-form-wrapper {
        order: -1;
        gap: 20px;
        padding-block: 32px;
        padding-inline: 5vw;
        /* padding-inline: 48px; */
    }
    .entry-page .back-button {
        left: 0;   
    }
}

@media(max-width: 599px) {
    .entry-page {
        padding-block-end: 24px;
    }
    .entry-form-wrapper {
        padding-block: 32px;
        padding-inline: 16px;
        width: 100%;
        max-width: 396px;
    }
    .entry-page .sign-up-links-wrapper {
        font-size: var(--fs-base);
    }
    .entry-form .submit-button-wrapper {
        flex-direction: column;
        gap: 21px;
    }
    .entry-form .submit-button-wrapper button {
        width: 100%;
        max-width: 180px;
    }
}

@media(max-width: 374px) {
    .login-page .custom-checkbox-wrapper {
        max-width: 84%;
    }
}

@media(min-width: 1440px) {
    :root {
        --px-sec: 77px;
    }
}

@media(max-height: 799px) {
    .logo-entry {
        position: fixed;
        top: var(--px-sec) !important;
        left: var(--px-sec) !important;
    }
    .entry-form-wrapper {
        position: static;
        margin-top: auto;
        top: unset;
        left: unset;
        transform: translate(0,0);
        /* max-height: 80vh; */
    }
}

