.signup-page {
    height: 100%;
    margin: 0;
}

.page-sign-up-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.arrow_left_icon {
    height: 20.74px;
    width: 21.33px;
}

.arrow_left_icon_position {
    position: absolute;
    left: 48px;
    top: 64px;
    z-index: 3;
}

.a-arrow_left_icon {
    outline: none;
    box-shadow: none;
}

.input-part-sign-up {
    width: 422px;
    height: 286px;
}

#logo_sign_up {
    top: 80px;
    left: 77px;
    width: 100.03px;
    transform: translate(0, 0);
}

#logo_sign_up.moved {
    top: 80px;
    left: 77px;
    width: 80px;
    transform: translate(0, 0);
}

.sign-up-div-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 88px;
    gap: 32px;
    isolation: isolate;
    position: relative;
    width: 598px;
    height: 630px;
    left: calc(50% - 598px/2);
    top: calc(50% - 630px/2);
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.custom-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
    height: 24px;
}

.custom-checkbox-container input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.custom-checkbox-visuals {
    width: 16px;
    height: 16px;
    position: relative;
    flex-shrink: 0;
}

.custom-checkbox-box {
    width: 100%;
    height: 100%;
    border: 2px solid #2A3647;
    border-radius: 3px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.custom-checkbox-box:hover {
    background-color: rgba(237, 242, 250, 1)
}

.custom-checkbox-icon {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-checkbox-icon:hover {
    background-color: rgba(237, 242, 250, 1);
}

.custom-checkbox-container input[type="checkbox"]:checked~.custom-checkbox-visuals .custom-checkbox-box {
    display: none;
}

.custom-checkbox-container input[type="checkbox"]:checked~.custom-checkbox-visuals .custom-checkbox-icon {
    display: block;
}

.checkbox-text {
    display: inline;
    font-size: 16px;
    color: #2A3647;
    white-space: normal;
    text-align: center;
}

.login-email-part-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 422px;
    height: 326px;
    padding: 0px;
}

.margin-bottom-24px {
    margin-bottom: 24px;
}

.div-i-accept {
    width: 90px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
    white-space: nowrap;
    margin: 0;
}

.gap-10px {
    gap: 10px;
}

.login-privacy-policy {
    display: flex;
    width: 246px;
    height: 35px;
    left: calc(50% - 246px/2);
    bottom: 40px;
    padding: 8px;
    gap: 8px;
}

.sign-up-main-part {
    display: flex;
    align-items: center;
    flex: 1;
}

a.login-privacy-policy-color {
    color: rgba(168, 168, 168, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    outline: none;
    box-shadow: none;
}

a.login-privacy-policy-color:hover {
    color: rgba(41, 171, 226, 1);
    font-weight: 700;
    text-decoration: none;
}

.a-privacy-policy {
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #29ABE2;
}

.btn-fourth-size-sign-up {
    height: 55px;
    width: 126px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.login-error {
    width: 422px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #FF8190;
    margin-top: 4px;
}

.sign-up-error {
    width: 422px;
    height: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #FF8190;
    margin-top: 8px;
}

.margin-bottom-16px {
    margin-bottom: 16px;
}

@media (max-width: 800px) {
    #logo_sign_up.moved {
        top: 10px;
        left: 30px;
        width: 80px;
    }

    .login-privacy-policy {
        order: 3;
        display: flex;
        bottom: 40px;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 16px;
    }
}

@media (max-height: 700px) {
    .login-privacy-policy {
        order: 3;
        display: flex;
        bottom: 40px;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 16px;
    }
}

@media (max-width: 427px) {
    .login-privacy-policy {
        order: 3;
        display: flex;
        bottom: 40px;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 16px;
    }

    #logo_sign_up.moved {
        top: 10px;
        left: 30px;
        width: 80px;
    }

    .sign-up-div-size {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 24px;
    }

    .input-part-sign-up {
        width: 100%;
    }

    .login-email-part-sign-up {
        width: 100%;
        height: 290px;
    }

    .arrow_left_icon_position {
        left: 16px;
        top: 16px;
    }

    .input-wrapper-signup-login {
        width: 276px;
        height: 42px;
        padding: 13px 21px;
    }

    .sign-up-error{
        width: 276px !important;
    }

    .sign-up-div-size{
        height: 490px;
        width: 296px;
    }

    .login-privacy-policy {
        order: 3;
        display: flex;
        bottom: 40px;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 16px;
    }

    .btn-sign-up-part{
        height: 70px;
    }
}