/***** STANDARD CSS */

* {
    box-sizing: border-box;
    scrollbar-width: thin;
}
html {
    scroll-behavior: smooth;
}
:focus, .focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--clr-focus);
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    position: relative;
}
main {
    position: relative;
}
header {
    z-index: 1;
}
footer {
    margin-top: auto !important;
}
:where(h1, h2, h3, h4, h5, h6) {
    margin-top: 0;
    margin-bottom: 0;
}
:where(a) {
    text-decoration: none;
    transition-duration: var(--transition-duration);
}
:where(button) {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition-duration: var(--transition-duration);
    font-size: var(--fs-base);
}
button:disabled {
    cursor: auto;
}
:where(figure) {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    position: relative;
}
:where(figcaption) {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
}
:where(hr) {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

