.page-title-wrapper {
    padding-bottom: 24px;
    background-color: var(--bg-page);
    z-index: 99;
}
.content-wrapper {
    gap: 80px;
}
.greeting-user {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.greeting-user p {
    margin: 0;
}
.greeting-message {
    font-size: 47px;
    font-weight: 500;
}
.greeting-username {
    font-size: 64px;
    font-weight: 700;
    color: var(--clr-light-blue);
}
.widgets-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 560px;
    gap: 32px;
    padding: 3px;
}
.widgets-sub-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.widget {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 18px;
    padding-inline: 19px;
    height: 168px;
    border-radius: 30px;
    padding-inline: 19px;
    transition-duration: 175ms;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.widget .value-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.widget.upcomings {
    gap: 61px;
}
.widget.upcomings hr {
    flex-shrink: 0;
}
.widget.upcomings .urgent {
    gap: 18px;
}
.widget.upcomings .deadline {
    gap: 13px;
    flex-grow: 0.25;
    align-content: start;
    text-align: left;
}
.widget-metrics {
    flex-basis: 50%;
}
.widget-totals {
    flex-direction: column;
    text-align: center;
    gap: 8px;
    flex-basis: 33%;
}
.widget-icon {
    height: 69px;
    width: auto;
}
.widget .number {
    font-size: 64px;
    font-weight: 600;
    line-height: 1;
}
.widget .date {
    font-size: 21px;
    font-weight: 700;
}
.widget .label {
    font-size: var(--fs-lg);
}
.widget.deadline {
    flex-direction: column;
}
.widget-divider {
    width: 2px;
    height: 102px;
    background-color: #D1D1D1;
}
.widget:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    transform: scale(1.05);
}
.widget.to-do:hover img {
    content: url(/assets/icons/summary-todo-white.png);
}
.widget.done:hover img {
    content: url(/assets/icons/summary-done-white.png);
}
.widgets-sub-wrapper .widget:first-child:hover {
    transform-origin: left center;
}
.widgets-sub-wrapper .widget:last-child:hover {
    transform-origin: right center;
}
.widget.upcomings:hover {
    transform-origin: left top;
}


/* BREAKPOINTS */

@media (max-width: 1259px) {
    .page-title-wrapper {
        flex-direction: column;
        align-items: start;
        padding-bottom: 16px;
    }
    .title-deco-divider {
        order: 99;
        width: 90px;
        height: 3px;
    }
    .greeting-user {
        display: none;
    }
}

@media (max-width: 800px) {
    .widgets-wrapper {
        max-width: 100%;
    }
    .widget.upcomings:hover {
        transform: scale(0.95);
        transform-origin: unset;
    }
    .widget.upcomings .deadline {
        flex-grow: 0.33;
    }
}

@media (max-width: 599px) {
    .widgets-wrapper,
    .widgets-sub-wrapper {
        gap: 24px;
        border-radius: 20px;
    }
    .widget {
        border-radius: 20px;
        height: 110px;
    }
    .widget .value-wrapper {
        gap: 6px;
    }
    .widget.upcomings {
        gap: 20px;
    }
    .widget.upcomings .deadline {
        flex-grow: 0.45;
        gap: 8px;
    }
    .widget-totals {
        height: 116px;
        gap: 6px;
    }
    .widget-icon {
        height: 40px;
    }
    .widget .number {
        font-size: 47px;
    }
    .widget .date {
        font-size: 16px;
    }
   .widget .label,
   .widget .label-date {
        font-size: 14px;
    }
    .widget-divider {
        height: 68px;
    }
}

@media (max-width: 434px) {
    .widgets-wrapper,
    .widgets-sub-wrapper {
        gap: 16px;
    }
    .widget {
        padding-inline: 12px;
    }
    .widget.upcomings .deadline {
        flex-grow: 0.4;
    }
    .widget .number {
        font-size: 36px;
    }
    .widget .date {
        font-size: 16px;
    }
}

@media (max-width: 374px) {
    .widget .label,
    .widget .label-date {
        font-size: 12px;
    }
}

