.content-wrapper {
    gap: 80px;
}
.greeting {
    margin: 0px;
}
.greeting-user {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 47px;
    font-weight: 500;
}
.username {
    font-weight: 700;
    font-size: 64px;
    color: #29ABE2;
    margin: 0px;
}
.widgets-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 560px;
    gap: 32px;
}
.widgets-sub-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.widget {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 24px;
    height: 168px;
    border-radius: 30px;
    padding-block: 38px;
    padding-inline: 19px;
    background-color: #FFFFFF;
    flex-grow: 1;
}
.widget.upcomings {
    /* justify-content: center; */
}
.widget.upcomings .urgent {
    gap: 18px;
    width: 130px;
}
.widget.upcomings .deadline {
    gap: 13px;
    /* flex-grow: 1; */
}
.widgets-sub-wrapper .widget-metrics {
    flex-basis: 50%;
}
.widgets-sub-wrapper .widget-totals {
    flex-direction: column;
    text-align: center;
    gap: 4px;
    flex-basis: 33%;
}
.widget:hover {
    background-color: #2A3647;
    color: #FFFFFF;
}
.to-do:hover img {
    content: url(/assets/icons/todo-frame-white.png);
}
.done:hover img {
    content: url(/assets/icons/done-frame-white.png);
}
.widget-icon {
    height: 69px;
    width: auto;
}
.widget .number {
    font-size: 64px;
    font-weight: 600;
    line-height: 1;
}
.widget .date {
    font-size: 21px;
    font-weight: 700;
}
.widget .label {
    font-size: var(--fs-lg);
}
.widget.deadline {
    flex-direction: column;
}
/* .widget-divider {
    min-width: 2px;
    color: #D1D1D1;
    border: 2px;
} */


/* BREAKPOINTS */

@media (max-width: 1259px) {
    .greeting-user {
        display: none;
    }
    .page-title-wrapper {
        flex-direction: column;
        align-items: start;
    }
    .title-deco-divider {
        order: 99;
        width: 90px;
        height: 3px;
    }
}

@media (max-width: 800px) {
    .widgets-wrapper {
        max-width: 100%;
    }
}

@media (max-width: 599px) {
    .widgets-wrapper,
    .widgets-sub-wrapper {
        gap: 24px;
        border-radius: 20px;
    }
    .widget {
        border-radius: 20px;
        height: 110px;
    }
    .widget-totals {
        height: 116px;
    }
    .widget-icon {
        height: 40px;
    }
    .widget .number {
        font-size: 47px;
    }
    .widget .date {
        font-size: 16px;
    }
   .widget .label,
   .widget .label-date {
        font-size: 14px;
    }
}

@media (max-width: 434px) {
    .widgets-wrapper,
    .widgets-sub-wrapper {
        gap: 16px;
    }
    .widget {
        padding: 16px;
    }
    .widget .number {
        font-size: 36px;
    }
    .widget .date {
        font-size: 16px;
    }
}

@media (max-width: 374px) {
    .widget {
        padding: 12px;
    }
    .widget .label,
    .widget .label-date {
        font-size: 12px;
    }
}

