.terms-page main h2:not(.skip-top-margin):not(.subtitle-h2):not(.help-page h2) {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
}
.terms-page main p {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 0;
}
.terms-page main {
    color: black;
}
.terms-page main a {
    color: #29ABE2;
    text-decoration: none;
}
.imprint {
    margin-bottom: 16px;
    font-size: 27px;
}
.subtitle {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.subtitle-h2 {
    font-size: 27px;
    font-weight: 700;
    margin-top: 35px;
}
.privacy-policy-page main h2 {
    font-weight: 700;
    font-size: 27px;
}
.help-page h3 {
    font-size: 20px;
    font-weight: 700;
}
.help-page p {
    margin: 0;
}
.help-page ol {
    list-style: none;
    counter-reset: section;
    padding-left: 0;
}
.help-page li {
    counter-increment: section;
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
}
.help-page li::before {
    content: counter(section) ".";
    font-size: 27px;
    font-weight: 700;
    margin-right: 35px;
    line-height: 1.2;
    color: black;
    width: 32px;
    text-align: right;
    flex-shrink: 0;
}
.help-page h2 {
    font-size: 27px;
    font-weight: 700;
}
.help-page h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.help-page li::marker {
    font-size: 27px;
    font-weight: 700;
}
.help-page .help-icon {
    display: none;
}

